.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2px 16px;
    height: 250px;
    width: 200px;
    margin: 15px;
    transition: background-color 500ms, color 500ms;
}

.container:hover {
    background-color: #f7f7f7;
}

.textLink {
    color: inherit;
    text-decoration: inherit;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        height: 150px;
        margin: 0px;
    }

    .name {
        font-size: 18px;
    }

    .description {
        font-size: 13px;
    }
}
